.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-btns {
    display: flex;
    gap: 5px;
}

.active {
    background-color: aqua;
}

// .active-btn {
//     background-color: aqua;
// }

.product-list {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 40px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.description {
    font-size: 25px;
}

.total {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
